# --- Drupal Core & Contrib (Gestionado por Composer) ---
# No subimos el código de terceros, solo el nuestro en /custom
/web/core
/web/modules/contrib
/web/themes/contrib
/web/profiles/contrib

# Ignorar archivos generados por Drupal
web/sites/default/files/css/
web/sites/default/files/js/
web/sites/default/files/php/
web/sites/default/files/styles/

config/.htaccess
.ddev/
/vendor

# --- Archivos de Configuración Sensibles ---
# Ignoramos los settings que contienen contraseñas de DB
/web/sites/*/settings.php
/web/sites/*/settings.local.php
/web/sites/*/services.yml
/web/sites/*/services.local.yml

# Excepción: Queremos trackear el archivo de ejemplo para nuevos devs
!/web/sites/default/default.settings.php
!/web/sites/default/default.services.yml

# --- Archivos Generados por el Usuario ---

# --- Herramientas de Desarrollo y Entorno ---
.env
.env.local
/drush/sites/*.site.yml
.idea/
.vscode/

# --- Recetas de Drupal (Si usas Drupal 10.3+) ---
/web/recipes/contrib

# --- Archivos del Sistema (OS) ---
.DS_Store
Thumbs.db
ehthumbs.db
