{{attach_library('museo_theme/pagina-exposicion-style')}}

<article>

	<div class="header-pagina">

		<div class="header-pagina-img">
			{{ content.field_imagen_principal }}

			<div class="header-pagina-titulo">
				<h1>{{ label }}</h1>
			</div>

		</div>

	</div>

	<div class="body-pagina">
		{{ content|without('field_imagen_principal', 'links') }}
	</div>

</article>
