<div class="main-texto-con-titulo">

	<div class="titulo-texto-con-titulo">

		{{ content.field_titulo_texto }}

	</div>

	<div class="cuerpo-texto-con-titulo">

		{{ content.field_cuerpo_texto }}

	</div>

</div>
