<div class="bloque-cita">
	<blockquote class="cita-contenido">
		❝{{ content.field_cita }}
	</blockquote>

	{% if content.field_autor|render|trim %}
		<cite class="cita-autor">
			—
			{{ content.field_autor }}
		</cite>
	{% endif %}
</div>
