<div class="main-texto-con-imagen">

	<div class="cuerpo-texto-con-imagen">
		{{ content.field_texto_columna }}
	</div>

	<div class="imagen-texto-con-imagen">
		{{ content.field_imagen_columna }}
	</div>

</div>
