<div
	class="region region-header">

	{# LADO IZQUIERDO: LOGO #}
	<div id="block-museo-theme-marcadelsitio" class="header-logo">
		<a href="{{ url('<front>') }}" class="header-logo-link" rel="home">
			<div class="branding">
				<img src="/sites/default/files/Logo-Picasso-black.svg" alt="Logo">
			</div>
		</a>
	</div>

	{# LADO DERECHO: MENÚ / BOTÓN #}
	<nav role="navigation" id="block-museo-theme-menuheader">
		<ul class="menu">
			<li class="menu__item">
				<button type="button" class="btn-galeria" onclick="window.location.href='/galeria'">
					Galeria
				</button>
			</li>
		</ul>
	</nav>

</div>
